<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="SochnevBdEntities" connectionString="metadata=res://*/Modl.Model1.csdl|res://*/Modl.Model1.ssdl|res://*/Modl.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IF6E71Q\SQLEXPRESS;initial catalog=SochnevBd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>